<form #f="ngForm" [ngFormModel]="form" (ngSubmit)="changePassword()">
  <div class="form-group">
    <label for="Old Password">Old Password</label>
    <input type="text" name='oldpassword' #oldpassword="ngForm"  class="form-control" ngControl="oldpassword"> 
    <div *ngIf="oldpassword.pending">checking for correct password</div>
    <div *ngIf="oldpassword.touched && oldpassword.errors" >
                {{oldpassword.errors |json}}
                <div *ngIf="oldpassword.errors.required" class="alert alert-danger">Old Password is required</div>
                <div *ngIf="oldpassword.errors.shouldBeCorrect" class="alert alert-danger">Old Password is not Correct</div>

      </div>
  </div>
  <div class="form-group">
    <label for="New Password">New Password</label>
    <input type="text" name='newpassword' #newpassword="ngForm"  class="form-control" ngControl="newpassword"> 
    <div *ngIf="newpassword.touched && newpassword.errors" >
                <div *ngIf="newpassword.errors.required" class="alert alert-danger">New Password is required</div>
                <div *ngIf="newpassword.errors.shouldFollowPWDPolicy" class="alert alert-danger">Passowrd should be {{newpassword.errors.shouldFollowPWDPolicy.requiredLength}} characters</div>
                <div *ngIf="newpassword.errors.validOldPassword" class="alert alert-danger">New password is incorrect.</div>

      </div>
  </div>
  <div class="form-group">
    <label for="Confirm Password">Confirm Password</label>
    <input type="text" name='confirmpassword' #confirmpassword="ngForm"  class="form-control" ngControl="confirmpassword"> 
    
     <div *ngIf="confirmpassword.touched && (confirmpassword.errors || form.errors)" >
           
                <div *ngIf="confirmpassword.errors && confirmpassword.errors.required" class="alert alert-danger">Confirm Password is required</div>
                <div *ngIf="form.errors && form.errors.shouldSameAsNewPassword" class="alert alert-danger">Passowrd should be same as New Password</div>

      </div>
  </div>
   <button class="btn btn-primary" type="submit" [disabled]="!f.valid">submit</button>
</form>